ai-agent-build/dify-workflows/workflow-e-master.yml
# Dify DSL — Workflow E: SEO Master Agent
#
# Combineert Workflow A (Tech Audit), B (Content Audit), C (Keyword Gap),
# D (Keyword Researcher) tot één master-plan met quick wins + roadmap.
#
# AANPAK: deze Master roept geen sub-workflows aan via Dify's interne API
# (te fragile). In plaats daarvan accepteert hij de markdown-outputs van
# A/B/C/D als input-tekst, en orchestreert de synthese + PDF + email.
#
# Praktisch gebruik:
#   1. Run Workflow A, B, C, D los (of in scheduled tasks)
#   2. Kopieer de markdown-rapporten in de Master Workflow input-velden
#   3. Master synthese geeft één master-plan
#   4. Optioneel: stuur PDF naar email
#
# Voor volledige automation (Master triggert A/B/C/D automatisch):
#   - Build een externe orchestrator (Python script of cron) die per dag/week
#     de losse workflows draait via Dify's API en hun outputs aan deze Master voert
#   - Zie orchestratie-guide voor implementatie-details

app:
  description: |
    SEO Master Agent — combineert de outputs van Tech Audit, Content Audit,
    Keyword Gap en Keyword Researcher tot één geprioriteerd master-plan
    met quick wins, medium-term roadmap en strategische opportunities.
  icon: 🏆
  icon_background: '#FFE100'
  mode: workflow
  name: SEO Master Agent
  use_icon_as_answer_icon: false

kind: app
version: 0.1.5

workflow:
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false

  graph:
    edges:
    - id: start-to-kb
      source: start
      target: kb_retrieval
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: kb-to-master
      source: kb_retrieval
      target: master_synthesis
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: master-to-priorities
      source: master_synthesis
      target: extract_top_keywords
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: priorities-to-end
      source: extract_top_keywords
      target: end
      sourceHandle: source
      targetHandle: target
      type: custom

    nodes:

    # ---------- START ----------
    - id: start
      type: custom
      data:
        type: start
        title: Start
        variables:
        - variable: domein
          type: text-input
          label: Domein
          required: true
          default: 'https://dev.energx.nl'
        - variable: tech_audit_report
          type: paragraph
          label: Tech Audit rapport (output van Workflow A)
          required: false
          hint: 'Plak markdown-output van Workflow A hier'
        - variable: content_audit_report
          type: paragraph
          label: Content Audit rapport (output van Workflow B)
          required: false
        - variable: keyword_gap_report
          type: paragraph
          label: Keyword Gap rapport (output van Workflow C)
          required: false
        - variable: keyword_researcher_report
          type: paragraph
          label: Keyword Researcher rapport (output van Workflow D)
          required: false
        - variable: recipient_email
          type: text-input
          label: Email voor PDF-versie (optioneel)
          required: false
      position:
        x: 80
        y: 280

    # ---------- KB RETRIEVAL ----------
    - id: kb_retrieval
      type: custom
      data:
        type: knowledge-retrieval
        title: Energx KB context
        desc: Tone-of-voice + cluster-strategie voor master plan
        query_variable_selector: ['start', 'domein']
        dataset_ids: []  # NOTE: vul handmatig met Energx KB dataset_id
        retrieval_mode: multiple
        multiple_retrieval_config:
          top_k: 6
          score_threshold_enabled: false
          score_threshold: 0.5
          reranking_mode: weighted_score
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_provider_name: ollama
              embedding_model_name: nomic-embed-text
              vector_weight: 0.7
      position:
        x: 360
        y: 280

    # ---------- MASTER SYNTHESIS ----------
    - id: master_synthesis
      type: custom
      data:
        type: llm
        title: Master synthese
        desc: Combineer alle audit-rapporten tot één master-plan
        model:
          provider: langgenius/gemini/gemini
          name: gemini-2.5-pro  # gebruik Pro voor lange-context synthese
          mode: chat
          completion_params:
            temperature: 0.3
            max_tokens: 8000
        prompt_template:
        - role: system
          text: |
            Je bent de Chief SEO Strategist voor Energx. Je krijgt de outputs
            van vier sub-rapporten (Tech Audit, Content Audit, Keyword Gap,
            Keyword Researcher) plus Energx KB-context. Je taak: combineer
            tot één master-plan dat een non-technische lezer (Imad) direct
            kan executeren.

            ## OUTPUT STRUCTUUR (markdown)

            # Energx SEO Master Plan — [datum]
            ## Domein: [domein]

            ## Executive Summary (5-7 zinnen)
            [Wat is de algemene SEO-gezondheid? Top-3 quick wins? Top-1 strategische focus?]

            ## Quick Wins — deze week (max 5)
            [Concrete acties, max 1-3 uur per actie, hoge impact:
              - Wat: [actie]
              - Waarom: [reden in 1 zin]
              - Hoe: [stap-voor-stap]
              - Verwachte impact: [hoog/medium]
              - Bron: [Tech/Content/Gap/Researcher rapport]]

            ## Medium-term — komende maand (max 8)
            [Tabel: Actie | Type | Cluster | Geschatte tijd | Impact]

            ## Strategische focus — komende kwartaal
            [Top 2-3 thema's waar Energx zich op moet richten, met onderbouwing
            uit Keyword Researcher en Gap-data]

            ## Content-pijplijn (volgende 4 weken)
            [Lijst van top 10 keywords om Brief Generator op te draaien:
              1. [keyword] — [intent] — [cluster]
              2. ...]
            Deze lijst gaat door naar Brief Generator voor automatische brief-generatie.

            ## Technische schulden
            [Top 3 technische issues om aan te pakken, uit Tech Audit]

            ## KPIs om te monitoren
            - [KPI 1: bijv. organische clicks per maand]
            - [KPI 2: bijv. aantal pagina's in top 10]
            - [KPI 3: bijv. CTR-gemiddelde uit GSC]

            ## REGELS
            - Je-vorm, direct, geen marketing-taal
            - Refereer aan de bron-rapporten (Tech/Content/Gap/Researcher)
              waar relevant
            - Geen verzonnen cijfers — alleen wat in de inputs staat
            - Prioriteer op IMPACT × HAALBAARHEID
            - Tone uit Energx KB Doc A (mens-eerst, eerlijk, niet pusherig)
            - Acties moeten executable zijn — geen "we moeten meer doen aan X"
        - role: user
          text: |
            Domein: {{#start.domein#}}

            ## TECH AUDIT (Workflow A output):
            {{#start.tech_audit_report#}}

            ## CONTENT AUDIT (Workflow B output):
            {{#start.content_audit_report#}}

            ## KEYWORD GAP (Workflow C output):
            {{#start.keyword_gap_report#}}

            ## KEYWORD RESEARCHER (Workflow D output):
            {{#start.keyword_researcher_report#}}

            ## ENERGX KB CONTEXT:
        memory:
          window:
            enabled: false
            size: 0
        context:
          enabled: true
          variable_selector: ['kb_retrieval', 'result']
        vision:
          enabled: false
      position:
        x: 640
        y: 280

    # ---------- EXTRACT TOP KEYWORDS FOR BRIEF PIPELINE ----------
    - id: extract_top_keywords
      type: custom
      data:
        type: code
        title: Extract content-pijplijn
        desc: Pull de top-10 keywords uit het master plan voor downstream brief-generatie
        code_language: python3
        code: |
          import re

          def main(master_plan: str) -> dict:
              if not master_plan:
                  return {'top_keywords': [], 'extraction_method': 'empty'}

              # Zoek de "Content-pijplijn" sectie
              pattern = r'##\s*Content-pijplijn.*?(?=^##|\Z)'
              match = re.search(pattern, master_plan, flags=re.DOTALL | re.MULTILINE)
              section = match.group(0) if match else master_plan

              # Extract genummerde keywords:  "1. [keyword] — [intent] — [cluster]"
              kw_pattern = r'^\s*\d+\.\s*([^—\n]+?)(?:\s*—|\s*\n)'
              keywords = re.findall(kw_pattern, section, flags=re.MULTILINE)
              keywords = [k.strip(' []*') for k in keywords if k.strip()]

              return {
                  'top_keywords': keywords[:10],
                  'count': len(keywords),
                  'extraction_method': 'regex_pipeline_section',
              }
        variables:
        - variable: master_plan
          value_selector: ['master_synthesis', 'text']
        outputs:
          top_keywords:
            type: array[string]
          count:
            type: number
          extraction_method:
            type: string
      position:
        x: 920
        y: 280

    # ---------- END ----------
    - id: end
      type: custom
      data:
        type: end
        title: End
        outputs:
        - variable: master_plan
          value_selector: ['master_synthesis', 'text']
          value_type: string
        - variable: top_keywords_for_briefs
          value_selector: ['extract_top_keywords', 'top_keywords']
          value_type: array[string]
        - variable: domein
          value_selector: ['start', 'domein']
          value_type: string
      position:
        x: 1200
        y: 280

    viewport:
      x: 0
      y: 0
      zoom: 0.75
