ai-agent-build/dify-workflows/workflow-c-keyword-gap.yml
# Dify DSL — Workflow C: Keyword Gap Analyse
#
# Doel: vergelijk Energx-rankings met concurrent-domeinen om kansen-gaps te vinden.
#
# Voorvereisten:
#   1. FastAPI energx-audit service draait
#   2. Serper.dev API key actief
#   3. GSC service account JSON in FastAPI
#   4. Custom tool energx_audit geregistreerd
#
# Architectuur:
#   Input: lijst van seed-keywords + 2-3 concurrent-domeinen
#   1. Voor elk seed: Serper-zoekopdracht → krijg top 10 SERP per seed
#   2. Extract: welke concurrenten ranken op welke positie per seed
#   3. FastAPI /gsc/queries → Energx eigen rankings
#   4. KB-retrieval voor context
#   5. Gemini synthese: identificeer "concurrent ranked maar Energx niet" + prioriteit
#   Output: gap-lijst met concrete content-aanbevelingen

app:
  description: |
    Vergelijkt Energx-rankings met concurrent-domeinen voor een set
    keywords. Identificeert gaps waar concurrenten ranken en Energx
    nog niet, plus prioriteringen op basis van zoekvolume-indicatoren
    en cluster-fit.
  icon: 🥊
  icon_background: '#FFD4D4'
  mode: workflow
  name: Keyword Gap Energx
  use_icon_as_answer_icon: false

kind: app
version: 0.1.5

workflow:
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false

  graph:
    edges:
    - id: start-to-parse
      source: start
      target: parse_inputs
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: parse-to-iterate
      source: parse_inputs
      target: iterate_seeds
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: iterate-to-gap
      source: iterate_seeds
      target: identify_gaps
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: gap-to-gsc
      source: identify_gaps
      target: gsc_queries
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: gap-to-kb
      source: identify_gaps
      target: kb_retrieval
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: gsc-to-synthesis
      source: gsc_queries
      target: synthesis
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: kb-to-synthesis
      source: kb_retrieval
      target: synthesis
      sourceHandle: source
      targetHandle: target
      type: custom
    - id: synthesis-to-end
      source: synthesis
      target: end
      sourceHandle: source
      targetHandle: target
      type: custom

    nodes:

    # ---------- START ----------
    - id: start
      type: custom
      data:
        type: start
        title: Start
        variables:
        - variable: seed_keywords
          type: paragraph
          label: Seed keywords (één per regel)
          required: true
          hint: 'Bijv. "thuisbatterij kopen", "warmtepomp prijs"'
        - variable: competitor_domains
          type: paragraph
          label: Concurrent-domeinen (één per regel)
          required: true
          hint: 'Bijv. consumentenbond.nl, milieucentraal.nl. NIET energx.nl zelf.'
        - variable: own_domain
          type: text-input
          label: Eigen domein
          required: false
          default: 'dev.energx.nl'
      position:
        x: 80
        y: 280

    # ---------- PARSE INPUTS ----------
    - id: parse_inputs
      type: custom
      data:
        type: code
        title: Parse inputs
        desc: Splits multi-line inputs in arrays
        code_language: python3
        code: |
          def main(seed_keywords: str, competitor_domains: str, own_domain: str) -> dict:
              seeds = [s.strip() for s in (seed_keywords or '').splitlines() if s.strip()]
              competitors = [c.strip().lower().replace('https://', '').replace('http://', '').rstrip('/')
                             for c in (competitor_domains or '').splitlines() if c.strip()]
              own = (own_domain or '').strip().lower().replace('https://', '').replace('http://', '').rstrip('/')
              return {
                  'seeds': seeds[:10],  # cap voor tijd
                  'competitors': competitors[:5],
                  'own_domain': own,
              }
        variables:
        - variable: seed_keywords
          value_selector: ['start', 'seed_keywords']
        - variable: competitor_domains
          value_selector: ['start', 'competitor_domains']
        - variable: own_domain
          value_selector: ['start', 'own_domain']
        outputs:
          seeds:
            type: array[string]
          competitors:
            type: array[string]
          own_domain:
            type: string
      position:
        x: 360
        y: 280

    # ---------- ITERATE SEEDS via Serper ----------
    - id: iterate_seeds
      type: custom
      data:
        type: iteration
        title: SERP per seed
        desc: Voor elk keyword: top 10 SERP via Serper
        iterator_selector: ['parse_inputs', 'seeds']
        output_selector: ['serper_per_seed', 'text']
        output_type: array[string]
        is_parallel: true
        parallel_nums: 3
        error_handle_mode: continue-on-error
      position:
        x: 640
        y: 280

    - id: serper_per_seed
      type: custom
      parentId: iterate_seeds
      data:
        type: tool
        title: Serper per seed
        provider_id: serper
        provider_name: serper
        provider_type: builtin
        tool_name: serper
        tool_parameters:
          query:
            type: mixed
            value: '{{#iterate_seeds.item#}}'
          gl:
            type: constant
            value: 'nl'
          hl:
            type: constant
            value: 'nl'
      position:
        x: 100
        y: 100

    # ---------- IDENTIFY GAPS ----------
    - id: identify_gaps
      type: custom
      data:
        type: code
        title: Identify gaps
        desc: Map per keyword waar concurrenten/Energx ranken
        code_language: python3
        code: |
          import json

          def _normalize_host(url: str) -> str:
              if not url:
                  return ''
              host = url.lower().replace('https://', '').replace('http://', '')
              return host.split('/')[0].split('?')[0].lstrip('www.')

          def main(serper_results: list, seeds: list, competitors: list, own_domain: str) -> dict:
              own_normalized = own_domain.lstrip('www.')
              competitors_normalized = [c.lstrip('www.') for c in competitors]

              gap_rows = []
              for seed, serp_text in zip(seeds, serper_results or []):
                  try:
                      serp = json.loads(serp_text) if isinstance(serp_text, str) else serp_text
                  except Exception:
                      continue

                  organic = serp.get('organic', []) if isinstance(serp, dict) else []
                  positions = {}  # domain -> position
                  for idx, result in enumerate(organic, start=1):
                      link = result.get('link', '') if isinstance(result, dict) else ''
                      host = _normalize_host(link)
                      if host and host not in positions:
                          positions[host] = idx

                  own_position = positions.get(own_normalized)
                  competitor_hits = {c: positions.get(c) for c in competitors_normalized}
                  competitor_count = sum(1 for p in competitor_hits.values() if p)

                  # Gap-classificatie
                  if own_position is None and competitor_count >= 1:
                      gap_type = 'pure_gap'  # zij wel, Energx niet
                  elif own_position and own_position > 10 and competitor_count >= 1:
                      gap_type = 'weak_position'  # Energx te laag, concurrent boven
                  elif own_position and own_position <= 10 and competitor_count >= 1:
                      gap_type = 'competitive'  # beide in top 10
                  else:
                      gap_type = 'open_field'  # niemand sterk, kans

                  gap_rows.append({
                      'keyword': seed,
                      'own_position': own_position,
                      'competitor_positions': competitor_hits,
                      'competitor_count': competitor_count,
                      'gap_type': gap_type,
                  })

              return {
                  'gaps': gap_rows,
                  'total_seeds': len(seeds),
                  'pure_gaps': len([g for g in gap_rows if g['gap_type'] == 'pure_gap']),
                  'weak_positions': len([g for g in gap_rows if g['gap_type'] == 'weak_position']),
              }
        variables:
        - variable: serper_results
          value_selector: ['iterate_seeds', 'output']
        - variable: seeds
          value_selector: ['parse_inputs', 'seeds']
        - variable: competitors
          value_selector: ['parse_inputs', 'competitors']
        - variable: own_domain
          value_selector: ['parse_inputs', 'own_domain']
        outputs:
          gaps:
            type: array[object]
          total_seeds:
            type: number
          pure_gaps:
            type: number
          weak_positions:
            type: number
      position:
        x: 920
        y: 280

    # ---------- GSC ----------
    - id: gsc_queries
      type: custom
      data:
        type: tool
        title: GSC eigen rankings
        desc: Eigen rankings van Energx voor context
        provider_id: energx_audit
        provider_name: energx_audit
        provider_type: api
        tool_name: gsc_queries_gsc_queries_post
        tool_parameters:
          days:
            type: constant
            value: 90
          limit:
            type: constant
            value: 200
      position:
        x: 1200
        y: 160

    # ---------- KB ----------
    - id: kb_retrieval
      type: custom
      data:
        type: knowledge-retrieval
        title: Energx KB context
        query_variable_selector: ['start', 'seed_keywords']
        dataset_ids: []  # NOTE: vul handmatig met Energx KB dataset_id
        retrieval_mode: multiple
        multiple_retrieval_config:
          top_k: 4
          score_threshold_enabled: false
          score_threshold: 0.5
          reranking_mode: weighted_score
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_provider_name: ollama
              embedding_model_name: nomic-embed-text
              vector_weight: 0.7
      position:
        x: 1200
        y: 400

    # ---------- SYNTHESIS ----------
    - id: synthesis
      type: custom
      data:
        type: llm
        title: Gap-rapport
        desc: Synthese tot actionable gap-rapport
        model:
          provider: langgenius/gemini/gemini
          name: gemini-2.5-flash
          mode: chat
          completion_params:
            temperature: 0.3
            max_tokens: 4000
        prompt_template:
        - role: system
          text: |
            Je bent een senior SEO-strateeg voor Energx.
            Je analyseert keyword gaps: keywords waar concurrenten ranken
            en Energx niet (of zwakker).

            Je krijgt 3 databronnen:
            1. Gap-analyse per keyword (eigen positie, concurrent posities, gap-type)
            2. GSC eigen rankings van Energx
            3. KB-context (cluster-strategie + tone)

            ## OUTPUT (markdown)

            # Keyword Gap rapport: [datum]

            ## Samenvatting
            - Totaal keywords geanalyseerd: [N]
            - Pure gaps (zij wel, jij niet): [N]
            - Zwakke posities (jij <10, zij in top 10): [N]
            - Open velden (niemand sterk): [N]

            ## TOP PRIORITEIT — Pure gaps
            [Per keyword:
              - Welke concurrenten staan op welke positie
              - Cluster-fit (Thuisbatterij/Warmtepomp/Laadpaal/Saldering)
              - Voorgesteld content-type
              - Waarom dit een goede gap is]

            ## Verbeter-kansen — Zwakke posities
            [Keywords waar Energx in pos 11-30 staat terwijl concurrent in top 10.
            Concrete fix: bestaande pagina optimaliseren of nieuwe content maken]

            ## Open velden — first-mover kansen
            [Geen sterke ranker, kans voor Energx om dominant te worden]

            ## Aanbevolen volgende stappen
            1. [Top 3 keywords om DEZE WEEK Brief Generator op te draaien]
            2. [Top 5 keywords voor maand-roadmap]
            3. [Bestaande pagina's om te optimaliseren]

            ## REGELS
            - Je-vorm
            - Concurrent-namen mogen genoemd in analyse, maar niet in te-publiceren content
            - Refereer aan Energx clusters uit KB Doc D sectie 14
            - Geen verzonnen zoekvolumes
        - role: user
          text: |
            Gap-analyse data:
            {{#identify_gaps.gaps#}}

            Samenvatting:
            - Totaal: {{#identify_gaps.total_seeds#}}
            - Pure gaps: {{#identify_gaps.pure_gaps#}}
            - Zwakke posities: {{#identify_gaps.weak_positions#}}

            GSC eigen rankings (laatste 90 dagen):
            {{#gsc_queries.queries#}}

            Energx Knowledge Base context:
        memory:
          window:
            enabled: false
            size: 0
        context:
          enabled: true
          variable_selector: ['kb_retrieval', 'result']
        vision:
          enabled: false
      position:
        x: 1480
        y: 280

    # ---------- END ----------
    - id: end
      type: custom
      data:
        type: end
        title: End
        outputs:
        - variable: gap_report
          value_selector: ['synthesis', 'text']
          value_type: string
        - variable: pure_gaps
          value_selector: ['identify_gaps', 'pure_gaps']
          value_type: number
        - variable: weak_positions
          value_selector: ['identify_gaps', 'weak_positions']
          value_type: number
      position:
        x: 1760
        y: 280

    viewport:
      x: 0
      y: 0
      zoom: 0.7
